<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>{{title}}</title>
</head>

<body>

	<h1>Vacation</h1>

	<nav>
		<a href = "/hawaii"><p>hawaii</p></a>
		<a href = "/tokyo"><p>tokyo</p></a>
		<a href = "/venice"><p>venice</p></a>
	</nav>

	<section class = "header">
		<h1>{{title}}</h1>
		<h4>Current Temperature: {{temp}}</h4>
	</section>

	<section class = "main">
		<div>
			<h4>Eat</h4>
			<img src = {{src_1}}>
		</div>

		<div>
			<h4>Explore</h4>
			<img src = {{src_2}}>
		</div>

		<div>
			<h4>Relax</h4>
			<img src = {{src_3}}>
		</div>
	</section>

	<footer>
		<p>Copyright PalyCS 2018</p>
	</footer>

</body>
</html>