<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>{{title}}</title>
</head>

<body>

	<h1>Vacation</h1>

	<nav>
		<a href = "/hawaii"><p>hawaii</p></a>
		<a href = "/tokyo"><p>tokyo</p></a>
		<a href = "/venice"><p>venice</p></a>
	</nav>

	<section class = "header">
		<h1 id = "city">{{title}}</h1>
		<h4 id = "current_temperature">Current Temperature:</h4>
	</section>

	<section class = "main">
		<div>
			<h4>Eat</h4>
			<img src = {{src_1}}>
		</div>

		<div>
			<h4>Explore</h4>
			<img src = {{src_2}}>
		</div>

		<div>
			<h4>Relax</h4>
			<img src = {{src_3}}>
		</div>
	</section>

	<footer>
		<p>Copyright PalyCS 2018</p>
	</footer>

</body>

<script src = './weather/weather.js'></script>
<script src = './geocode/geocode.js'></script>

<script>
let string = document.getElementById("city").innerHTML
  geocodeAddress(string, (errorMessage, results) => {
  	getWeather(results.lat, results.long, (results) => {
		document.getElementById("current_temperature").innerHTML = "Current Temperature: " + results
  	})
  });
</script>

</html>