<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>

<p>Welcome, {{username}}</p>
<p>{{email}}</p>
<p>{{equipment}}</p>

<h3>My Items</h3>
<table>
{{#each equipment as |url|}}
	<tr>
		<td>{{url.itemName}}</td>
		<td>{{url.isOut}}</td>
	</tr>
{{/each}}
</table>

<h3>Equipment Available</h3>
<table id = 'equipment'>
</table>

</body>

<script>
fetch('http://localhost:3000/items/{{username}}')
.then((response) => {
	return response.json()
})
.then((response) => {
	let equipmentList = document.getElementById('equipment')
	for (user of response.res_data) {
		console.log((!(JSON.parse(user.isOut))).toString())
		equipmentList.innerHTML += '<tr>\
										<td>' + user._id + '</td>\
										<td>' + user.itemName + '</td>\
										<td>' + user.isOut + '</td>\
										<td><a href = "/checkout/' + user._id + '/' + (!(JSON.parse(user.isOut))).toString() + '">checkout</a></td>\
									</tr>'
	}
})
</script>

</html>