<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<nav>
	<a href = '/logout'>logout</a>
</nav>

<section class = 'welcome'>
	<p>Welcome, {{username}}!</p>
	<p>{{email}}</p>
	<p>{{equipment}}</p>
</section>

<section class = 'inventory'>
	<h3>My Items</h3>
	<table>
	{{#each equipment as |url|}}
		<tr>
			<td>{{url.itemName}}</td>
			<td>{{url.isOut}}</td>
		</tr>
	{{/each}}
	</table>
</section>

<section class = 'equipment'>
	<h3>Equipment Available</h3>
	<table id = 'equipment'>
	</table>
</section>

</body>

<script>
fetch('http://localhost:3000/items/{{username}}')
.then((response) => {
	return response.json()
})
.then((response) => {
	let equipmentList = document.getElementById('equipment')
	for (user of response.res_data) {
		console.log((!(JSON.parse(user.isOut))).toString())
		equipmentList.innerHTML += '<tr>\
										<td>' + user._id + '</td>\
										<td>' + user.itemName + '</td>\
										<td>' + user.isOut + '</td>\
										<td><a href = "/checkout/' + user._id + '/' + (!(JSON.parse(user.isOut))).toString() + '">checkout</a></td>\
									</tr>'
	}
})
</script>

</html>